entrypoint = "index.js"
modules = ["python-3.11", "nodejs-20", "postgresql-16"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["libuuid", "cairo", "pango", "giflib", "libjpeg", "unzip"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "Goatbot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "GoatBot"

[[workflows.workflow]]
name = "GoatBot"
author = "GoatBot"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[agent]
expertMode = true